<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

</body>
</html> -->

	<!-- ==================modal dialog edit userName =========================== -->
	<!-- Modal -->
	<form name="updatePrice" novalidate>
		<div class="modal fade" id="updatePriceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Edytuj</h4>
					</div>
					<div class="modal-body">

						<div class="form-group">
							<label for="input_price" class="control-label">Cena:</label>
							<span class="alert-danger" data-ng-show="updatePrice.price.$error.required"> Wymagana!</span>
							<span class="alert-danger" data-ng-show="updatePrice.price.$error.number"> To musi być liczba!</span>
							<input name="price" type="number" class="form-control" id="input_price" data-ng-model="currentPriceUpdate" required><!--preferences.currentPrice  -->
						</div>
					
					
				
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
					<button type="button" class="btn btn-primary" data-ng-click="updateCurrentPrice(currentPriceUpdate);" data-dismiss="modal"
					data-ng-disabled="updatePrice.$invalid">Zapisz</button>
				</div>
			</div>
		</div>
	
	</form>
	<!-- =========================================================================== -->