<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>


  <div class="page-header">
    <h3>Ustawienia</h3>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron">
        <h2>Serwer</h2>

        <table class="table">
          <tr>
            <th>LP</th>
            <th>Nazwa</th>
            <th>IP:</th>
            <th>Port</th>
            <th>Interwał</th>
            <th>Typ danych</th>
            <th>Ilość czujników</th>
            <th>Adres rejestru</th>

            <th></th>
            <th></th>
            <th></th>
          </tr>

          <tr data-ng-repeat="server in serversList">
            <td>{{$index+1}}</td>
            <td>{{server.name}}</td>
            <td>{{server.ip}}</td>
            <td>{{server.port}}</td>
            <td>{{server.timeInterval}}</td>
            <td>{{server.readedDataType}}</td>
            <td>{{server.readedDataCount}}</td>
            <td>{{server.firstRegisterPos}}</td>
            <td><a href="#" data-toggle="modal" data-target="#editServerDialog" data-ng-click="preEditServer(server)">Edytuj</a></td>
            <td><a href="#" data-ng-click="removeServer(server)">Usuń </a></td>
            <td><a href="#" data-ng-click="runServer(server)">Włącz </a></td>
            <td><a href="#" data-ng-click="stopServer(server)">Wyłącz </a></td>

          </tr>


        </table>
        <button class="btn btn-primary" data-toggle="modal" data-target="#newServerDialog">Dodaj nowy:</button>

      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron">
        <span>
          <button class="btn btn-danger " data-ng-click="switchOffServer();">Wyłącz program</button>

          <h5>Po naciśnięciu tego przycisku cały program zostanie wyłączony. Aby włączyć ponownie należy uruchomić aplikację bezpośrednio na
            serwerze sieciowym.</h5>
        </span>
      </div>

    </div>


  </div>


  <!-- ==================modal dialog add new server =========================== -->
  <!-- Modal -->
  <form name="newServerForm" novalidate>
    <div class="modal fade" id="newServerDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Dodaj</h4>
          </div>
          <div class="modal-body">


            <div class="form-horizontal">
              <label for="input_name" class="control-label">Nazwa:</label>
              <span class="alert-danger" data-ng-show="newServerForm.name.$error.required"> Wymagana!</span>
              <input name="name" type="text" class="form-control" id="input_name" data-ng-model="newServer.name" required>


              <label for="input_ip" class="control-label">IP:</label>
              <span class="alert-danger" data-ng-show="newServerForm.ip.$error.required"> Wymagane!</span>
              <span class="alert-danger" data-ng-show="newServerForm.ip.$error.pattern">Zły format ip!</span>
              <input name="ip" type="text" class="form-control" id="input_ip" data-ng-model="newServer.ip" required="required"
                data-ng-pattern='/\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}/' placeholder='xxx.xxx.xxx.xxx'>

              <!-- port  -->
              <label for="input_port" class="control-label">Port:</label>
              <span class="alert-danger" data-ng-show="newServerForm.port.$error.required"> Wymagany!</span>
              <span class="alert-danger" data-ng-show="newServerForm.port.$error.number">Zły format danych! Wymagana liczba z przedziału
                1-65535</span>
              <span class="alert-danger" data-ng-show="newServerForm.port.$error.max">Zły format danych! Wymagana liczba z przedziału 1-65535</span>
              <input name="port" type="number" class="form-control" id="input_port" data-ng-model="newServer.port" required="required" max="65535">

              <!-- interwal -->
              <label for="input_time" class="control-label">Interwał [ms]:</label>
              <span class="alert-danger" data-ng-show="newServerForm.interval.$error.required"> Wymagany!</span>
              <span class="alert-danger" data-ng-show="newServerForm.interval.$error.min">Minimalny intewał to 100 ms!</span>
              <span class="alert-danger" data-ng-show="newServerForm.interval.$error.number">Zły format danych! Wymagana liczba!</span>
              <input name="interval" type="number" class="form-control" id="input_time" data-ng-model="newServer.timeInterval" required min="100">

              <!-- readedDataTypes -->
              <label for="input_type" class="control-label">Typ danych:</label>
              <span class="alert-danger" data-ng-show="newServerForm.readedDataType.$error.required"> Wymagany!</span>
              <select name="readedDataType" id="input_type" class="form-control" data-ng-model="newServer.readedDataType"
                data-ng-options="dataTypes.type as dataTypes.name for dataTypes in readedDataTypes" required>
              </select>

              <!-- readeDataCount -->
              <label for="input_count" class="control-label">Ilość czujników:</label>
              <span class="alert-danger" data-ng-show="newServerForm.readedDataCount.$error.required"> Wymagany!</span>
              <span class="alert-danger" data-ng-show="newServerForm.readedDataCount.$error.number">Zły format danych! Wymagana liczba!</span>
              <input name="readedDataCount" type="number" class="form-control" id="input_count" data-ng-model="newServer.readedDataCount" required>

              <label for="input_pos" class="control-label">Adres pierwszego rejestru:</label>
              <span class="alert-danger" data-ng-show="newServerForm.firstRegisterPos.$error.required"> Wymagany!</span>
              <span class="alert-danger" data-ng-show="newServerForm.firstRegisterPos.$error.number">Zły format danych! Wymagana liczba!</span>
              <input name="firstRegisterPos" type="number" class="form-control" id="nput_pos" data-ng-model="newServer.firstRegisterPos" required>
            </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
            <button type="button" class="btn btn-primary" data-ng-click="addNewServer(newServer)" data-dismiss="modal"
              data-ng-disabled="newServerForm.$invalid">Zapisz</button>
          </div>

        </div>
      </div>
    </div>
  </form>
  <!-- ==================modal dialog edit server =========================== -->
  <!-- Modal -->
  <div class="modal fade" id="editServerDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Edytuj</h4>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="input_name" class="control-label">Nazwa:</label>
            <span class="alert-danger" data-ng-show="updatedServer.name.$error.required"> Wymagana!</span>
            <input name="name" type="text" class="form-control" id="input_name" data-ng-model="updatedServer.name" required>


            <label for="input_ip" class="control-label">IP:</label>
            <span class="alert-danger" data-ng-show="updatedServer.ip.$error.required"> Wymagane!</span>
            <span class="alert-danger" data-ng-show="updatedServer.ip.$error.pattern">Zły format ip!</span>
            <input name="ip" type="text" class="form-control" id="input_ip" data-ng-model="updatedServer.ip" required="required"
              data-ng-pattern='/\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}/' placeholder='xxx.xxx.xxx.xxx'>

            <!-- port  -->
            <label for="input_port" class="control-label">Port:</label>
            <span class="alert-danger" data-ng-show="updatedServer.port.$error.required"> Wymagany!</span>
            <span class="alert-danger" data-ng-show="updatedServer.port.$error.number">Zły format danych! Wymagana liczba z przedziału 1-65535</span>
            <span class="alert-danger" data-ng-show="updatedServer.port.$error.max">Zły format danych! Wymagana liczba z przedziału 1-65535</span>
            <input name="port" type="number" class="form-control" id="input_port" data-ng-model="updatedServer.port" required="required" max="65535">

            <!-- interwal -->
            <label for="input_time" class="control-label">Interwał [ms]:</label>
            <span class="alert-danger" data-ng-show="updatedServer.interval.$error.required"> Wymagany!</span>
            <span class="alert-danger" data-ng-show="updatedServer.interval.$error.min">Minimalny intewał to 100 ms!</span>
            <span class="alert-danger" data-ng-show="updatedServer.interval.$error.number">Zły format danych! Wymagana liczba!</span>
            <input name="interval" type="number" class="form-control" id="input_time" data-ng-model="updatedServer.timeInterval" required min="100">

            <!-- readedDataTypes -->
            <label for="input_type" class="control-label">Typ danych:</label>
            <span class="alert-danger" data-ng-show="nupdatedServer.readedDataType.$error.required"> Wymagany!</span>
            <select name="readedDataType" id="input_type" class="form-control" data-ng-model="updatedServer.readedDataType"
              data-ng-options="dataTypes.type as dataTypes.name for dataTypes in readedDataTypes" required>
            </select>

            <!-- readeDataCount -->
            <label for="input_count" class="control-label">Ilość czujników:</label>
            <span class="alert-danger" data-ng-show="updatedServer.readedDataCount.$error.required"> Wymagany!</span>
            <span class="alert-danger" data-ng-show="updatedServer.readedDataCount.$error.number">Zły format danych! Wymagana liczba!</span>
            <input name="readedDataCount" type="number" class="form-control" id="input_count" data-ng-model="updatedServer.readedDataCount" required>

            <label for="input_pos" class="control-label">Adres pierwszego rejestru:</label>
            <span class="alert-danger" data-ng-show="updatedServer.firstRegisterPos.$error.required"> Wymagany!</span>
            <span class="alert-danger" data-ng-show="updatedServer.firstRegisterPos.$error.number">Zły format danych! Wymagana liczba!</span>
            <input name="firstRegisterPos" type="number" class="form-control" id="nput_pos" data-ng-model="updatedServer.firstRegisterPos" required>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
          <button type="button" class="btn btn-primary" data-ng-click="updateServer(updatedServer)" data-dismiss="modal">Zapisz</button>
        </div>
      </div>
    </div>
  </div>
  <!-- =========================================================================== -->
</body>
</html>
