@CHARSET "UTF-8";

.myLink {
	background-color: blue;
}

footer {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 70px;
	text-align: center;
	border-top: 1px solid #7f7f7f;
	border-bottom: 1px solid #7f7f7f;
	background-color: #e5e5e5;
}

.margin_right_10 {
	margin-right: 10px;
}

.table_padding {
	padding: 5px;
}

.datepicker.dropdown-menu {
	width: 250px;
	height: 250px;
}

.datepicker.dropdown-menu button {
	outline: none;
	border: 0px;
}

.datepicker.dropdown-menu tbody {
	height: 180px;
}

.datepicker.dropdown-menu tbody button {
	padding: 6px;
}

.datepicker.dropdown-menu.datepicker-mode-1 tbody button, .datepicker.dropdown-menu.datepicker-mode-2 tbody button
	{
	height: 65px;
}

.timepicker.dropdown-menu {
	padding: 0 4px;
}

.timepicker.dropdown-menu button {
	outline: none;
	border: 0px;
}

.timepicker.dropdown-menu tbody button {
	padding: 6px;
}

.ng-dygraphs .legend {
	width: auto;
	margin: 3px 8px;
	padding: 2px 5px;
	border: 1px #000000 solid;
	border-radius: 5px;
}

.ng-dygraphs .legend .series-container {
	text-align: center;
}

.ng-dygraphs .legend .series-container .series {
	padding: 0px 8px;
	display: inline-block;
}

.ng-dygraphs .legend .series-container .series a {
	text-decoration: none;
	color: #000000;
}

.ng-dygraphs .legend .series-container .series a:hover {
	color: #000000;
	cursor: pointer;
}

.ng-dygraphs .dypopover {
	position: fixed;
	display: none;
	background: #808080;
	border: 1px solid #808080;
	border-radius: 5px;
	opacity: .80;
	padding: 2px;
}

.ng-dygraphs .dypopover th {
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #ffffff;
	white-space: nowrap;
}

.ng-dygraphs .dypopover td {
	white-space: nowrap;
	padding: 2px 5px;
}

.ng-dygraphs .left .dypopover:after, .ng-dygraphs .left .dypopover:before
	{
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.ng-dygraphs .left .dypopover:after {
	border-color: rgba(0, 0, 0, 0);
	border-right-color: #808080;
	border-width: 10px;
	margin-top: -10px;
}

.ng-dygraphs .left .dypopover:before {
	border-color: rgba(0, 0, 0, 0);
	border-right-color: #808080;
	border-width: 11px;
	margin-top: -11px;
}

.dygraph-axis-label {
	color: #000000;
	font-size: 12px;
}

.dygraph-legend {

	background-color: rgba(200,200,200,0.3)!important;
	border-radius: 5px;
	border: 2px #000000 solid;
	padding:5px;

 	right: -200px !important; 
		top: -50px !important;
	
	
} 
/* .dygraph-legend {
  background: transparent !important;
} */
.ng-dygraphs {
	height: 50px
}