@CHARSET "UTF-8";

.myLink {
	background-color: blue;
}

footer {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 70px;
	text-align: center;
	border-top: 1px solid #7f7f7f;
	border-bottom: 1px solid #7f7f7f;
	background-color: #e5e5e5;
}

.margin_right_10 {
	margin-right: 10px;
}

.table_padding {
	padding: 5px;
}

.datepicker.dropdown-menu {
	width: 250px;
	height: 250px;
}

.datepicker.dropdown-menu button {
	outline: none;
	border: 0px;
}

.datepicker.dropdown-menu tbody {
	height: 180px;
}

.datepicker.dropdown-menu tbody button {
	padding: 6px;
}

.datepicker.dropdown-menu.datepicker-mode-1 tbody button, .datepicker.dropdown-menu.datepicker-mode-2 tbody button
	{
	height: 65px;
}

.timepicker.dropdown-menu {
	padding: 0 4px;
}

.timepicker.dropdown-menu button {
	outline: none;
	border: 0px;
}

.timepicker.dropdown-menu tbody button {
	padding: 6px;
}


.dygraph-legend {

	background-color: rgba(220,220,220,0.7)!important;
	border-radius: 5px;
	border: 2px #000000 solid;
	padding:5px;

 /* 	right: -200px !important; */
		top: -100px !important;
	 
	
} 

.dygraph-td-legend{
	vertical-align:top;
	padding:5px;
	margin-left: 10px;
}
.dygraph-div-legend{
	margin-top: 20px;
}

.on-top{
	/* top: 10px!important; */
	vertical-align: top!important;
	 display: block!important;
    position: relative!important;
   
}
/* .dygraph-legend {
  background: transparent !important;
} */

.dygraph-table{
	border: 2px #000000 solid;
}

.series-container{
	border: 2px #000000 solid;
	margin-top:10px;
	height:35px;
	border-radius:5px;
	padding-right: 5px
	
}


/* SQUARED ONE checkbox   */
input[type=checkbox] {
/*  visibility: hidden; */
padding: 3px;
width: 10px;
height: 10px;
margin: 10px;
}
 
.squaredOne {
	width:28px;
	height: 28px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	/* margin: 20px auto; */
	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.squaredOne label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 4px;
	top: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555', endColorstr='#FFFFFF',GradientType=0 );
}

.squaredOne label:after {

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity:1;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	background: #00bf00;

	background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: linear-gradient(top, #00bf00 0%, #009400 100%);

	top: 2px;
	left: 2px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.squaredOne label:/*hover:*/:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredOne input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
