@CHARSET "UTF-8";
.myLink{
	background-color: blue;
}

 footer {
	
	
	padding-top: 10px; 
	padding-bottom: 10px;
	margin-top:70px;
	text-align: center;
	border-top: 1px solid #7f7f7f;
	border-bottom: 1px solid #7f7f7f;
	background-color: #e5e5e5;
}

.margin_right_10{
	margin-right:10px;

		}
		
.table_padding{
	padding:5px;
}

.datepicker.dropdown-menu {
  width: 250px;
  height: 250px;
}
.datepicker.dropdown-menu button {
  outline: none;
  border: 0px;
}
.datepicker.dropdown-menu tbody {
  height: 180px;
}
.datepicker.dropdown-menu tbody button {
  padding: 6px;
}
.datepicker.dropdown-menu.datepicker-mode-1 tbody button, .datepicker.dropdown-menu.datepicker-mode-2 tbody button {
  height: 65px;
}

.timepicker.dropdown-menu {
  padding: 0 4px;
}
.timepicker.dropdown-menu button {
  outline: none;
  border: 0px;
}
.timepicker.dropdown-menu tbody button {
  padding: 6px;
}