@CHARSET "UTF-8";





.myLink {
	background-color: blue;
}

footer {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 70px;
	text-align: center;
	border-top: 1px solid #7f7f7f;
	border-bottom: 1px solid #7f7f7f;
	background-color: #e5e5e5;
}

.margin_right_10 {
	margin-right: 10px;
}

.table_padding {
	padding: 5px;
}

.datepicker.dropdown-menu {
	width: 250px;
	height: 250px;
	

}

.datepicker.dropdown-menu button {
	outline: none;
	border: 0px;
	

}

.datepicker.dropdown-menu tbody {
	
	
	height: 180px;
}

.datepicker.dropdown-menu tbody button {

	padding: 6px;
}

.datepicker.dropdown-menu.datepicker-mode-1 tbody button, .datepicker.dropdown-menu.datepicker-mode-2 tbody button
	{
	height: 65px;
}

.timepicker.dropdown-menu {
	padding: 0 4px;
}

.timepicker.dropdown-menu button {
	outline: none;
	border: 0px;
}

.timepicker.dropdown-menu tbody button {
	padding: 6px;
}


.dygraph-legend {

	background-color: rgba(220,220,220,0.7)!important;
	border-radius: 5px;
	border: 2px #000000 solid;
	padding:5px;

 /* 	right: -200px !important; */
		top: -100px !important;
	 
	
} 

.dygraph-td-legend{
	vertical-align:top;
	padding:5px;
	margin-left: 15px;

}
.dygraph-div-legend{
	margin-top: 20px;

}

.on-top{
	/* top: 10px!important; */
	vertical-align: top!important;
	 display: block!important;
    position: relative!important;
   
}
/* .dygraph-legend {
  background: transparent !important;
} */

.dygraph-table{
	border: 2px #000000 solid;
}

.div_g{
	
}

.series-container{
	border: 2px #000000 solid;
	margin-top:15px;
/* 	height:35px; */
	border-radius:5px;
	padding: 5px;
	vertical-align: middle!important;
	background-color: #f8f8f8;
	
	
}




label{
	vertical-align: middle;
	margin-right: 10px;
	
	
}

 input[type=checkbox] {
  /* visibility: hidden;  */


margin-left: 12px;
margin-right:5px;


} 

/* SQUARED ONE checkbox   */

.data_series_container{
	vertical-align: middle;
/*background-color:red; */
}


/*   table { table-layout: fixed;}
 table th, table td { overflow: hidden; }  */
 
 .my_table table { table-layout: fixed;}
 .my_table table th, table td { overflow: hidden; }
 
  #div_g{
  margin-left: 15px
  }
 #div_g .dygraph-ylabel{text-shadow: -1px 1px 1px gray; 
 margin-top: -15px}
 
 #div_g .dygraph-title {font-size:25px; text-shadow: 1px 1px 1px gray; }

 .dygraph-y2label{
 text-shadow: -1px 1px 1px gray; 
 margin-top: -12px;
    -ms-transform: rotate(180deg);/*  IE 9 */
    -webkit-transform: rotate(180deg);/*  Chrome, Safari, Opera */
    transform: rotate(180deg); 
 
 }
