<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="page-header">
		<h3>Wykres zużycia</h3>
	</div>

	<br />
	<div>
		<button class="btn btn-info" data-ng-click="onStartWebsocket();">{{closeButtonText}}</button>
	</div>
	<air-consumption-chart data-ng-if="is_loaded" data="myData" chart-title="'Zmianowy wykres zużycia powietrza i energii'" y-axis-title="Zużycie powietrza [m3]"
		max-series-number="maxSeriesNumber" series-name="seriesName"></air-consumption-chart>

	<br />
	<div style="font-size: large;">{{dataToShow.date|date:'dd MMMM yyyy | HH:mm:ss'}}<span style="float: right;">Energia zużyta: {{dataToShow.energyConsumption}} [kWh]</span></div>
	<div class="my_table" style="margin-top: 15px">
		<table class="table table-striped table-bordered">
			<thead>

				<tr>
					<th data-ng-repeat="sensorName in seriesName track by $index" style="text-align: center;">{{sensorName}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td data-ng-repeat="value in dataToShow.values track by $index"
						style="text-align: center">
						{{value|number:4}} [m<sup>3</sup>]
					</td>
				</tr>
				<tr>

					<td data-ng-repeat="squareColor in squaresTable  track by $index">
						<div style="background-color: {{squareColor}}">
							<br /> <br />
						</div>
							
					</td>


				</tr>
			
				<tr data-ng-if="currentUser.roles.indexOf('ROLE_ADMIN')>-1">

					<td  data-ng-repeat="squareColor in squaresTable  track by $index" style="text-align: center;" >
						<button class="btn btn-default" data-ng-click="onResetSensor($index)">Zeruj</button>
					</td>


				</tr>
			</tbody>
		</table>
	</div>
	<div></div>

</body>
</html>