<!DOCTYPE html>
<html>
<head>
<title>Wykres</title>
<meta name="description" content="chart created using amCharts live editor" />
<meta charset="UTF-8" />



</head>
<body>

  <div class="page-header">
    <h3>Wykres n-dniowy</h3>
  </div>

	

  <!-- Date range example -->
  <form name="datepickerForm" class="form-inline" role="form">
    <div class="form-group">
      <label class="control-label">
        <i class="glyphicon glyphicon-calendar"></i> Przedział czasu <small></small>
      </label>
      <br>
      <div class="form-group col-xs-4">
        <input type="text" class="form-control" data-start-week="1" data-ng-model="fromDate" data-max-date="{{untilDate}}" placeholder="Od"
          data-bs-datepicker required data-autoclose="true">
      </div>
      <div class="form-group col-xs-4">
        <input type="text" class="form-control" data-start-week="1" data-useNative="true" data-max-date="{{untilMaxDate}}" data-ng-model="untilDate"
          data-min-date="{{fromDate}}" placeholder="Do" data-bs-datepicker required data-autoclose="true">
      </div>
      <div class="form-group col-xs-4">
        <button class="btn btn-danger" data-ng-disabled="datepickerForm.$invalid" data-ng-click="createChart()">Twórz wykres</button>
      </div>
    </div>
  </form>



  <div>


    <luke-am-chart data-ng-if="showChart" chart-data=myMeasurements height="'600px'" chart-title="'Wykres n-dniowy'" value-axis-title="'Przepływ [m3/s]'"
      line-thickness="'2'"></luke-am-chart>


  </div>
</body>
</html>
