<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Pobierz dane</title>
</head>
<body>
  <div class="page-header">
    <h3>Pobierz dane</h3>
  </div>
  <div class="jumbotron">
  
  <h4 >Pobierz dane <strong>całosciowe</strong> w formie arkusza kalkualcyjengo
  <!-- <button class="btn btn-default" data-ng-click="downloadData()">Pobierz</button> -->
  
  <span><a class="btn btn-primary" data-ng-href="{{getAllData}}">Pobierz <i class="glyphicon glyphicon-save-file"></i></a></span> 
   </h4>
  </div>

</body>
</html>