<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
  <!-- =================footer================== -->
  <footer>
    <!--   <div class="container "> -->
    <p>
      © Copyright by <b>Cartamundi</b>  All rights reserved. Designed & Developed by <b>ITEM Service </b> & <b>LuckyApp</b>
      <span class="glyphicon glyphicon-envelope" style="margin-left:20px;"></span>
       <!-- <a class="btn btn-danger">Kliknij</a>  -->
    </p>
    <!--  </div> -->
  </footer>
</body>
</html>
