<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>HELP</title>
</head>
<body>

<div class="page-header"><h3> Pomoc</h3></div>
<!-- <div class="jumbotron">
to jest POMOC

</div>
<div class="row">
	<div class="col-md-4 ">
		<div class="jumbotron">Przykładowy tekst</div>
	</div>
	<div class="col-md-3 ">
	<div class="jumbotron">Przykładowy tekst</div>
	</div>
	<div class="col-md-5 ">
		<div class="jumbotron">Przykładowy tekst</div>

	</div>
</div> -->
<!-- <graph data="myData" opts="options"></graph>
 -->
<!--      <ng-dygraphs data-ng-if="graph.data.length"
  data="graph.data"
  options="graph.options"
  legend="graph.legend"
  >
</ng-dygraphs>  -->
 
<!--  <div id="div_g" style="width:auto; height:500px;"></div> -->

<!-- <div data-ng-show="isLoading">
 
 <img alt="Ładuję" src="ModbusChart/../images/loading.gif" class="center-block">
 </div>
 <div data-ng-show="!isLoading"> -->
<chart-dygraph-online data="myData" title="Wykres całościowy" max-series-number="parseInt(8)"></chart-dygraph-online>
<!-- </div> -->
 
 </body>
</html>