<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<div class="page-header"><h3> Strona domowa</h3></div>



      <div class="jumbotron " style="min-width: 400px" >
    <h4> Program służy do rejestrowania wielkości przepływu z czujników, zapisywania ich do bazy danych oraz graficznego
    ich przedstawienia w formie wykresów.</h4>
<h6>  Dane można eksportować w formie plików excel -bezpośrednio z zaznaczonych fragmentów wykresu bądź z osobnej, przygotowanej do tego celu strony. </h6>


      </div>

<!-- <span data-ng-repeat="l in list"> -->
<!-- <ng-gauge name="canvName"></ng-gauge> -->

<!-- <ng-gauge ></ng-gauge>
<ng-gauge></ng-gauge>
<ng-gauge ></ng-gauge>
<ng-gauge></ng-gauge> -->
<!-- </span> -->
</body>
</html>