<!DOCTYPE html>
<html>
<head>
<title>Wykres</title>

<meta charset="UTF-8" />



</head>
<body>

	<div class="page-header">
		<h3>Wykres chwilowy</h3>
	</div>
	<div>
		<button class="btn btn-info" data-ng-click="onStartWebsocket();">{{closeButtonText}}</button>
	</div>


	<online-chart data-ng-if="is_loaded" data="myData"
		chart-title="'Wykres chwilowy przepływu powietrza'"
		y-axis-title="Przepływ [m3/h]" max-series-number="maxSeriesNumber"
		series-name="seriesName"></online-chart>
	<br />



	<div style="font-size: large;">{{dataToShow.date|date:'dd MMMM yyyy | HH:mm:ss'}}</div>



	<div class="my_table">
		<table class="table table-striped table-bordered">
			<thead>

				<tr>
					<th data-ng-repeat="sensorName in seriesName track by $index"
						style="text-align: center;">{{sensorName}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td data-ng-repeat="value in dataToShow.values track by $index"
						style="text-align: center">{{value|number:2}} [m<sup>3</sup>/h]
					</td>
				</tr>

			</tbody>
		</table>
	</div>





</body>
</html>
