<!DOCTYPE html>
<html>
<head>
<title>Wykres</title>
<meta name="description"
	content="chart created using amCharts live editor" />
<meta charset="UTF-8" />



</head>
<body>

	<div>
		<div class="page-header">
			<h3>Wykres online</h3>
		</div>



		<chart-dygraph data-ng-if="is_loaded" data="myData"
			chart-title="chartTitle" y-axis-title="Przepływ [m3]"
			max-series-number="maxSeriesNumber"></chart-dygraph>
		<br />
	
		
		
	<div style="font-size: large;  ">{{dataToShow.date|date:'dd MMMM yyyy |   HH:mm:ss'}}</div>
		<table class="table table-striped table-bordered" >
			<thead>

				<tr>
				<th data-ng-repeat="value in dataToShow.values track by $index"><small>Czujnik {{$index+1}} </small></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td data-ng-repeat="value in dataToShow.values track by $index">{{value|number:3}} [m<sup>3</sup>]
					</td>
				</tr>
			</tbody>
		</table>





	</div>

</body>
</html>
